{% extends 'base.html' %}

{% block head_title %}
this is amazing!!!!
{% endblock head_title%}


{% block content %}


<div id='nasharus'></div>



<div class='row text-center d-none'>
    <div class='col'>
        <h1>Welcome to NashaRussia</h1>
    </div>
</div>

<div class='row mb-3 d-none'>
    <div class='col-md-4 mx-auto col-10'>
        <form class='form' id='nash_message-create-form' method='POST' action='/create-nash_message'>
            {% csrf_token %}
            <div class='d-none alert alert-danger' id='nash_message-create-form-error'></div>
            <input type='hidden' value='/' name='next' />
            <textarea required='required' class='form-control' name='content' placeholder='Your nash_message...'></textarea>
            <button type='submit' class='btn btn-primary'>Nash_message</button>
        </form>
    </div>
</div>



<div class='row d-none' id='nash-message'>
    Loading...
</div>

<script>

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}



function handleNash_messageFormError(msg, display){
    var myErrorDiv = document.getElementById("nash_message-create-form-error")
    if (display === true) {
        // show error
        myErrorDiv.setAttribute("class", "d-block alert alert-danger")
        myErrorDiv.innerText = msg
    } else {
        // hide error
        myErrorDiv.setAttribute("class", "d-none alert alert-danger")
    }
}

function handleNash_messageCreateFormDidSumbit(event) {
    event.preventDefault()
    const myForm = event.target
    const myFormData = new FormData(myForm)
    const url = myForm.getAttribute("action")
    const method = myForm.getAttribute("method")
    const xhr = new XMLHttpRequest()
    const responseType = "json"
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    xhr.onload = function() {
        if (xhr.status === 201) {
            handleNash_messageFormError("", false)
            const newNash_messageJson = xhr.response
            const newNash_messageElement = formatNash_messageElement(newNash_messageJson)
            const ogHtml = nash-messageContainerElement.innerHTML
            nash-messageContainerElement.innerHTML = newNash_messageElement + ogHtml
            myForm.reset()
        } else if (xhr.status === 400) {
            const errorJson = xhr.response
            const contentError = errorJson.content
            let contentErrorMsg;
            if (contentError) {
                contentErrorMsg = contentError[0]
                if (contentErrorMsg) {
                    handleNash_messageFormError(contentErrorMsg, true)
                } else {
                    alert("An error occured. Please try again.")
                }
            } else {
                alert("An error occured. Please try again.")
            }   
        } else if (xhr.status === 401) {
            alert("You must login!")
            window.location.href = "/login"
        } else if (xhr.status === 403) {
            alert("You must login!")
            window.location.href = "/login"
        }
        else if (xhr.status === 500) {
            alert("There was a server error, please try again.")
        }
        
    }
    xhr.onerror = function() {
        alert("An error occurred. Please try again later.")
    }
    xhr.send(myFormData)
}
const nash_messageCreateFormEl = document.getElementById("nash_message-create-form")
nash_messageCreateFormEl.addEventListener("submit", handleNash_messageCreateFormDidSumbit)


const nash-messageContainerElement = document.getElementById("nash-message") 

function loadNash-message(nash-messageElement) {
    const xhr = new XMLHttpRequest()
    const method = 'GET' // "POST"
    const url = "/nash-message"
    const responseType = "json"
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        const serverResponse = xhr.response
        const listedItems = serverResponse // array
        var finalNash_messageStr = ""
        var i;
        for (i=0;i<listedItems.length; i++) {
            var nash_messageObj = listedItems[i]
            var currentItem = formatNash_messageElement(nash_messageObj)
            finalNash_messageStr += currentItem
        }
        nash-messageElement.innerHTML = finalNash_messageStr
    }
    xhr.send()
}

loadNash-message(nash-messageContainerElement)


function handleNash_messageActionBtn(nash_message_id, currentCount, action) {
    console.log(nash_message_id, currentCount)
    const url = "/api/nash-message/action"
    const method="POST"
    const data = JSON.stringify({
        id: nash_message_id,
        action: action
    })
    const xhr = new XMLHttpRequest()
    const csrftoken = getCookie('csrftoken');
    xhr.open(method, url)
    xhr.setRequestHeader("Content-Type", "application/json")
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
    xhr.setRequestHeader("X-CSRFToken", csrftoken)
    xhr.onload = function() {
        // react.js this handle the state much better
        loadNash-message(nash-messageContainerElement)
    }
    xhr.send(data)
    return 
}


function RenashBtn(nash_message) {
    return "<button class='btn btn-outline-success btn-sm' onclick=handleNash_messageActionBtn(" + 
    nash_message.id + "," + nash_message.likes + ",'renash')>Renash</button>"
}


function UnLikeBtn(nash_message) {
    return "<button class='btn btn-outline-primary btn-sm' onclick=handleNash_messageActionBtn(" + 
    nash_message.id + "," + nash_message.likes + ",'unlike')>Unlike</button>"
}

function LikeBtn(nash_message) {
    return "<button class='btn btn-primary btn-sm' onclick=handleNash_messageActionBtn(" + 
    nash_message.id + "," + nash_message.likes + ",'like')>" + nash_message.likes + " Likes</button>"
}

function formatNash_messageElement(nash_message) {
    var formattedNash_message = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 nash_message' id='nash_message-" + nash_message.id 
    + "'><p>" + nash_message.content + 
        "</p><div class='btn-group'>" + 
            LikeBtn(nash_message) +
            UnLikeBtn(nash_message) + 
            RenashBtn(nash_message) +
        "</div></div>"
    return formattedNash_message
}



</script>
{% endblock content %}